extends layout

block content

  .w3-modal(id="display")

  .w3-card-4
      header.w3-container.w3-dark-grey
        h1 Lista de Projetos Submetidos

      .w3-container
        if(projetos.length > 0)
          div.w3-cells-row.w3-margin-top.w3-margin-bottom
            div.w3-container.w3-cell
                input(type="text" id="searchbar" placeholder="Search..." class="w3-input w3-border w3-round")
            div.w3-container.w3-cell
                select(id="searchType" class="w3-select w3-border w3-round" name="tipo")
                    option(value="1") Submissor
                    option(value="2" selected) Titulo Recurso
          table.w3-table-all(id="tabela")
            thead
                tr
                    th(id="0" onclick="sortTable(0)") Data
                    th(id="1" onclick="sortTable(1)") Submissor
                    th(id="2" onclick="sortTable(2)") Titulo Projeto
                    th Download 
            tbody(id="tableBody")
                each f in projetos
                    tr(style="cursor:pointer" onclick="showFicheiros("+JSON.stringify(f)+","+JSON.stringify(ficheiros)+")")
                        td=f.data_submissao
                        td=f.id_submissor
                        td=f.titulo_recurso
                        td
                            a(href="/projetos/"+f.zip_name+f.data_submissao onclick="event.stopPropagation()" class="w3-button w3-green w3-round w3-tiny")
                                i(class="fas fa-download")
        else
          p Ainda não há ficheiros armazenados...
  
  script(type ="text/javascript" src="/javascripts/tableQuery.js")
  script(type ="text/javascript" src="/javascripts/displayRecursos.js")
  script.
    
    var lastColumn = undefined

    function sortTable(n){
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tabela");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } 
                else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        if(lastColumn!=undefined){
            var temp = rows[0].getElementsByTagName("th")[lastColumn].innerHTML
            var tempSplit = temp.toString().split(" ")
            rows[0].getElementsByTagName("th")[lastColumn].innerHTML = tempSplit[0]
        }
        var th = rows[0].getElementsByTagName("th")[n].innerHTML
        var split = th.toString().split(" ")
        if(dir == "asc"){
            rows[0].getElementsByTagName("th")[n].innerHTML = split[0] +" ▲"
        }else{
            rows[0].getElementsByTagName("th")[n].innerHTML = split[0] +" ▼"
        }
        lastColumn = n;
    }