extends layout

block content
  header.w3-container.w3-teal
    h1= title
  div.w3-container
    p Esta é página inicial do website que mostra a estrutura hierárquica de classes que representam as funções e atividades executadas pela Administração Pública. 
    p Os processos de negócio são representados como classes de 3º nível, enquadrados em funções (classes de 1º nível) e subfunções (2º nível).
    p As classes são constituídas por elementos informativos, agrupados por zonas, que as identificam e descrevem. Nas classes de 3º e 4º nível (subdivisão do processo de negócio para efeitos de avaliação), estes elementos destinam-se também a contextualizar e avaliar a informação.
    if list.length > 0
      .w3-container 
        table.w3-table-all
          tr
            th Código
            th Título
          each e in list
            tr 
              td
                a(href="/"+e.codigo)=e.codigo
              td
                a(href="/"+e.codigo)=e.titulo
    else
      .w3-container
        p Não existem entradas...
  footer.w3-container.w3-teal
    address Gerado por clavapp